<div class="col-10 offset-1 main">

	<h4>Need help using this thing?</h4>
	<br />

	<p>It's easy. </p>

	<p><em>TL;DR - We suggest bars based on your search preferences, sorted by distance for your convenience.</em></p>

	<h3>FAQ</h3>
	<br />

	<p>Do I have to sign up?</p>
	<p><em>Nope. But, if you decide to, you can save bars to your Favorites for quick referencing later.</em></p>

</div>