<div class="col-10 offset-1 main">

	<h4>Need help using this thing? Don't worry. We're here.</h4>
	<br />

	<p>It's easy. First, simply tell us where you are, or where you plan to leave from once you get the squad together. Then, tell us how far you and the posse are willing to go. Finally, pick out the activities and beverages that mean the most to you, and let us do the rest.</p>

	<p>We will pick some bars near you, and let you know which of them match your preferences the best. You'll be able to see pictures of the spot, along with a thorough description and an overview of the premium brands that they are proud to be pouring. There's also a map to help you get there, along with a link to directions if you need them. Even click through directly to their website.</p>

	<p>If you want to, sign up and save bars that you like to your Favorites for easy-access down the road. This is completely optional - you can search without signing up all day long. In the near future, we will be adding some really cool features for registered users.</p>

	<p>Most importantly, we care about you. Don't ever drive impaired. Party responsibly.</p>

	<p class="boldsmall"><em>TL;DR - We suggest bars based on your search preferences, sorted by distance for your convenience.</em></p>
	<br />
	<hr />

	<h3>FAQ</h3>
	<br />

	<p>-- Do I have to sign up?</p>
	<p><em>Nope. But, if you decide to, you can save bars to your Favorites for quick referencing later.</em></p>
	<p>-- How do I add a bar to my Favorites?</p>
	<p><em>Visit the bar's page, and click the 'Add to Favorites' button. Make sure you are signed in first.</em></p>

</div>