<div class="col-10 offset-1 main">

	<h4><%= @user.email %></h4>
	<br />

	<div class="box">

		<h4>My favorite bars:</h4><br />

		<% @user.favoritebars.each do |favorite| %>
			<%= link_to favorite.bar.name, bar_path(favorite.bar) %> &nbsp;<small><%= favorite.bar.city %></small><br />
		<% end %>

	</div>

</div>