@import "bootstrap";
@import "font-awesome";

.main {
	margin-top: 24px;
}

.box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

#map {
  height: 300px;
}

.clear {
    clear: both;
}

.bar_image {
  max-width: 100%;
  height: auto;
}

.boom {
  background: image_url('memphis-colorful.png');
  border: 2px solid gray;
  border-radius: 6px; 
  padding: 8px;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.boomface {
  max-width: 100%;
}